<!DOCTYPE html>
<html
        lang="en"
>
    <head>
        <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title><%= htmlWebpackPlugin.options.title %></title>

        <style>
			body {
				font-family: sans-serif;
				color: black;
			}
			nav {
				display: flex;
				justify-content: space-around;
			}

			.selected {
				background-color: tomato;
				color: white;
				padding: 0.25rem;
				border-radius: 0.2rem;
			}

			#home {
				padding: 10rem;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			#companiesPage {
				display: flex;
			}

			#companiesPage > ul {
				list-style-type: none;
				flex: 1;
			}

			#companiesPage > ul > li {
				margin-bottom: 1rem;
			}

			#companiesPage > div {
				flex: 1;
			}

			.companyItem {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				margin: 0.5rem 0;
				border-bottom: solid 1px black;
				padding: 0.5rem 0;
			}

			.year {
				background-color: tomato;
				color: white;
				padding: 0.5rem;
				border-radius: 0.2rem;
			}
		</style>
    </head>
    <body>
        <div id="app">
            &zwnj;
        </div>
    </body>
</html>
